<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>To-do lists</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/myapp.css' %}">
</head>
<body>
{% for post in posts %}
    <div class="list-header">
        <h1>{{ post.list_title }}</h1>
        <div class = "list-content">

        </div>
    </div>
{% endfor %}

</body>
</html>